.temp, 
.experimental {
	/* display */
}


/* RASTER */
body {
	background-image: url("a4_horiz_raster_11pt.svg");
	background-size: 210mm 297mm;
	background-position: 0 -.9mm;
	background-repeat: no-repeat;
}


/* PRODUCTION DATE STAMP */
#dateStamp { 
	flow: static(dateStamp);
	font-variant: prince-opentype(tnum);
	color: #FF0;
	color: rgba(255,255,0,0.67);
	font-size: 6pt;
	line-height: 6pt;
	letter-spacing:0.1em;

	width: 80mm;
	padding-top: 5mm;
	transform-origin: left top;
	transform:rotate(-90deg);
}

@page { @left{ content: flow(dateStamp); } }

#dateStamp { display: normal; }